/* ========================================
   TIPOGRAFÍAS
   ======================================== */

@font-face {
    font-family: titulo;
    src: url(../typography/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: texto;
    src: url(../typography/Chivo-VariableFont_wght.ttf);
}

header, footer{
    font-family: titulo;
}

body{
    font-family: texto;
}


/* ========================================
   MEDIA MÓVIL
   ======================================== */



/* ========================================
   TEMPLATES
   ======================================== */

   
.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(1);
}

.carousel-indicators button {
    background-color: #000;
}

.btn-send:hover {
    opacity: 0.9;
}