<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="dwes-proyecto-php/public/css/estilo.css">
</head>

<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="d-flex justify-content-center gap-4">
            <a href="https://www.linkedin.com" target="_blank" class="text-white text-decoration-none">
                <i class="bi bi-linkedin fs-2"></i>
            </a>
            <a href="https://www.github.com/todopiola" target="_blank" class="text-white text-decoration-none">
                <i class="bi bi-github fs-2"></i>
            </a>
            <a href="https://www.twitter.com" target="_blank" class="text-white text-decoration-none">
                <i class="bi bi-twitter-x fs-2"></i>
            </a>
        </div>
        <p class="text-center mt-3 mb-0">&copy; 2026 Franco Benavides Garcia. Todos los derechos reservados.</p>
    </div>
</footer>