
<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="d-flex justify-content-center gap-4">
            <a href="https://www.linkedin.com/in/benavidesgarciafranco/" target="_blank" class="text-white text-decoration-none">
                <i class="bi bi-linkedin fs-2"></i>
            </a>
            <a href="https://www.github.com/todo-piola" target="_blank" class="text-white text-decoration-none">
                <i class="bi bi-github fs-2"></i>
            </a>
        </div>
    </div>
</footer>